@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

    /*	Alterando estilo da barra de rolagem vertical*/
    ::-webkit-scrollbar-track {
        background-color: #F4F4F4;
    }

    ::-webkit-scrollbar {
        width: 5px;
        background: #F4F4F4;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #D3D3D3;
    }

    :root {
        font-size: 60%;

        --color-bg-primary: #ffffff;
        --color-bg-secundary: #EFF1F2;
        --color-bg-body: #ffffff;

        --color-bg-breadcrumb: #fafafa;

        --color-bg-button: #276274;
        --color-secundary-button: #466c81;

        --color-text-primary: #2E2E2E;
        --color-text-secundary: #4f7685;

        --color-active: #28384A;

        --color-text-white: #ffffff;

        --color-link-hover: #071019;

        --color-footer: #223035;

        --font-primary:'Roboto', sans-serif;

        --color-bg-border: #4f7685;
    }

    * {
        outline: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    html, 
    body, 
    #root {
        font-family: var(--font-primary);
        text-align: justify;
        color: var(--color-text-primary);
    }

    body {
        background-color: var(--color-bg-body);
    }

    a {
        text-decoration:none;
    }

    a:hover{
        text-decoration: none; 
        color: var(--color-link-hover);

        cursor: pointer;
    }

    span {
        font-weight: bold;
        text-transform: uppercase;
    }

    body,
    input,
    textarea,
    select,
    button {    
        font-size: 1.6rem;

    }

    input[type="text"],
    input[type="email"] {    
        height: 40px;  
        font-size: 1.6rem; 

    }

    textarea:focus,
    input:focus,
    select:focus, 
    button:focus {
        border-color: none ! important;
        outline: 0;
        -webkit-box-shadow: none ! important;
        box-shadow: none ! important;
    }  

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        margin: 0;
        padding: 2px;
    }

    .space {
        margin-bottom: 20px;
    }

    .container {
        padding: 0 40px;
    }

    .border {
        border: 1px solid var(--color-bg-border);
    }



/*
---------------------------------------------------------------------
ICONES
---------------------------------------------------------------------
*/

    .icone,
    .download {
        padding-left: 22px;
        background: no-repeat left center;
        text-decoration: none;
        display: inline-block;
        margin-right: 1em;
        min-height: 16px; /* altura dos ícones */
        text-transform: uppercase;
        font-size: 15px;
    }   

    .icone[href$='.pdf'], .icone[href$='.PDF'] {
        background-image: url(../../src/assets/images/icon/acrobat.png);
    }


    .icone[href$='.doc'], .icone[href$='.docx'] {
        background-image: url(../../src/assets/images/icon/page_white_word.png);
    }

    .icone[href$='.xls'] {
        background-image: url(../../src/assets/images/icon/page_white_excel.png);
    }

    .icone[href$='.pptx'] {
        background-image: url(../../src/assets/images/icon/page_white_powerpoint.png);
    }

    .icone[href$='.rar'] {
        background-image: url(../../src/assets/images/icon/rar.png);
    }

    .icone[href$='.png'] {
        background-image: url(../../src/assets/images/icon/img.png);
    }

    .icone[href$='.jpg'] {
        background-image: url(../../src/assets/images/icon/img.png);
    }     
    
    .download{
        background-image: url(../../src/assets/images/icon/down.png);
    }

/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/ 
    .content {
        margin: 185px auto 100px;
    }

/*
---------------------------------------------------------------------
BOTÕES
---------------------------------------------------------------------
*/   
    button[type="button"],
    button[type="submit"]{
        background-color: var(--color-bg-button); 
        width: 100%;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        padding: 14px;
        border: none; 
        color: var(--color-text-white); 
    }

    button[type="button"]:hover,
    button[type="submit"]:hover{ 
        background-color: var(--color-secundary-button);  
        transition: 400ms;   
    }
    
/*
---------------------------------------------------------------------
HEADER
---------------------------------------------------------------------
*/  
    header{
        z-index: 999;
        width: 100%;
        position: fixed; 
        background-color: var(--color-bg-primary);

        top: 0;
    }

    header .header {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    header .header img {
        margin-top: 50px;
    }

    header .header img:hover{
        opacity: 0.5;
        transition: 100ms;
    }
    
/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/ 
    .acessibilidade {
        position: relative;
    }

    .acessibilidade .acessibilidade-button{  
        position: absolute;
        right: 0;    
        top: 0;
    }    

    .acessibilidade .acessibilidade-button button{        
        background-color: var(--color-bg-secundary);
        border: none;
        width: 40px;
        height: 40px;

        font-size: 1.1rem;
    } 

    .acessibilidade .acessibilidade-button button:hover{        
        background-color: var(--color-bg-button);
        color: var(--color-text-white);
    } 

/*
---------------------------------------------------------------------
PESQUISA
---------------------------------------------------------------------
*/      
    .busca {
         width: 100%;
         position: relative;

         right: 15px;

         margin-top: 50px;
    }


    .busca button {
        background-color: var(--color-bg-primary);
        border-radius: 0;
        border: 1px solid var(--color-bg-secundary);
    }

    .busca input[type="search"] {	
        border: 1px solid var(--color-bg-secundary);
        border-right: none;

        font-size: 1.3rem;
        border-radius: 0;

        padding: 15px;
    }



/*
---------------------------------------------------------------------
NAVBAR
---------------------------------------------------------------------
*/   

    #bt_menu {
        display: none;
    }

    label[for="bt_menu"] i{
        display: none;
    }

    .menu{       
        background-color: var(--color-bg-primary); 
        width: 100%;
        height: 50px;

        box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

        position: relative;
    }

    .menu .nav {
        width: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .menu a {
        padding: 5px;
        display: block;
        text-decoration: none;

        font-size: 1.3rem;

        color: var(--color-text-primary);

        cursor: pointer;
    }

    .menu ul {
        list-style: none;
        position: relative;
    }

    .menu ul li{
        text-transform: uppercase;
        margin-left: 20px;
        float: left;
        padding-bottom: 20px;
    }

    .menu ul li:hover {
        border-bottom: 2px solid var(--color-bg-button);
        cursor: pointer;
    }

    .menu ul ul {
        position: absolute;
        visibility: hidden;        
    }

    .menu ul li:hover ul {
        visibility: visible;
        background-color: var(--color-bg-secundary); 
        
        top: 50px;
    }

    .menu ul li:hover ul li {
        margin: 0;  
        width: 180px;
        padding: 0 10px;
    }

    .menu ul li:hover ul li:hover {
        background-color: var(--color-bg-button); 
        border-bottom: 0;
    }

    .menu ul li:hover ul li:hover a{
        color: var(--color-text-white);
    }

    .menu ul ul li {
        float: none;
    }

    .menu ul li:hover ul ul {
        position: absolute;
        visibility: hidden;

        left: 180px;
        top: 56px;
    }

    .menu ul  li:hover ul li:hover ul {
        visibility: visible;
        background-color: var(--color-bg-secundary);
    }   

    .menu ul  li:hover ul li:hover ul a{
        color: var(--color-text-primary);
    } 
    
    .menu ul li:hover ul li:hover ul li:hover {
        background-color: var(--color-bg-button); 
        border-bottom: 0;
    }

    .menu ul li:hover ul li:hover ul li:hover a{
        color: var(--color-text-white);
    }

/*
---------------------------------------------------------------------
BREADCRUMB
---------------------------------------------------------------------
*/
    .mapaSite{                
        text-transform: uppercase;
        font-size: 1rem;

        margin-bottom: 40px;
        background-color: var(--color-bg-breadcrumb);

        padding-top: 20px;
    }

    .mapaSite a{
        text-decoration:none;
        color: var(--color-text-secundary);
    }

    .mapaSite .breadcrumb-item{
        color: var(--color-text-secundary);
    }

    .mapaSite .active{
        color: var(--color-active);
        font-weight: 600;
    }

/*
---------------------------------------------------------------------
CAROUSEL
---------------------------------------------------------------------
*/    
    .carousel{
        margin-bottom: 60px; 
        position: relative;         
    }

    .carousel .carousel-inner img {
        width: 100%;       
    }  

    .carousel .carousel-indicators li{
        background-color: var(--color-bg-primary);

        position: relative;
    }

    .carousel .carousel-indicators li.active{
        background-color: var(--color-bg-secundary);
    }

    .carousel button.carousel-button {
        padding: 10px;
        width: 200px; 
        
        position: absolute;
        bottom: 0;

        border: none;
        text-transform: uppercase;

        font-weight: 400;
        font-size: 1.3rem;
        color: var(--color-text-white);

        background-color: var(--color-bg-button);
    }

    .carousel button.carousel-button:hover {
        font-weight: 600;
        transition: 400ms;
    }  


/*
---------------------------------------------------------------------
MAIN
---------------------------------------------------------------------
*/ 
    main {
        margin: 30px 0;
    }


/*
---------------------------------------------------------------------
TITULOS
---------------------------------------------------------------------
*/  
    .tituloPage label{
        font-size: 1.5rem;
        text-transform: uppercase; 
        font-weight: 800;      
    }

    .tituloPage span{
        font-size: 3rem;
        text-transform: uppercase;
        font-family: var(--font-secondaray-bold); 
        color: #0C394B;
    }

    .tituloPage strong {
        color: #c02929;
    }

    .tituloPage label::after{
        content: "";
        margin: 8px 0 5px;
        margin-top: 1px;
        margin-bottom: 30px;
        height: 0;
        display: block;
        position: relative;
        width: 40px;
        border-bottom: 4px solid var(--color-link-hover);
        color: #0C394B;
    }

/*
---------------------------------------------------------------------
CARDS DE NOTÍCIAS - INDEX E AGENDA
---------------------------------------------------------------------
*/ 
    .card {
        border-radius: 0;
        border-color: var(--color-bg-secundary);

        height: 100%;
        width: 99%;
        margin-bottom: 100px;

        position: relative;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    }   

    .card-no-shadow,
    .card-video {
        border-radius: 0;
        border-color: var(--color-bg-secundary);

        height: 100%;
        width: 99%;
        margin-bottom: 100px;

        position: relative;
    } 

    .card-video {
        margin: 0 0 60px 0;
        text-align: center;
    }

    .card-video p{
        padding: 0 2rem;
        font-size: 1.5rem;
        text-align: center;

        color: var(--color-text-secundary);
        font-weight: 600;
    }

    .card .card-top,
    .card-no-shadow .card-top {
        padding: 15px 10px;
        border-radius: 0;
        background-color: var(--color-bg-secundary);
    }    

    .card .card-title,
    .card-no-shadow .card-title {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;

        font-weight: 700;

        margin: 0;
    }

    .card .card-body 
    .card-no-shadow .card-body {
        height: auto;
    }

    .card .documentos .card-body,
    .card-no-shadow  .documentos .card-body {
        height: 100%;
    }

    .card .card-body.card-text,
    .card-no-shadow .card-body.card-text {
        text-align: justify;    
    }

    .card .card-date-post,
    .card-no-shadow .card-date-post {
        font-size: 0.9rem;
        padding: 5px 10px 5px 10px;
        color: var(--color-text-secundary);
    }


/*
---------------------------------------------------------------------
---------------------------------------------------------------------
*/
    .card > a.btn,
    .card-no-shadow > a.btn {
        background-color: var(--color-bg-button); 
        width: 100%;
        border-radius: 0;

        text-transform: uppercase;
        font-size: 1.3rem;
        color: var(--color-text-white);

        padding: 14px;

        border: none; 

        position: absolute;
        bottom: 0;        
    }

    .card > a.btn:hover,
    .card-no-shadow > a.btn:hover {        
        background-color: var(--color-secundary-button);  
        transition: 400ms;              
    } 


    .new-post,
    .now-post {
        width: 80px;
        padding: 5px 0;

        text-align: center;

        font-size: 0.5em;
        background: rgb(189, 64, 19);
        color: var(--color-text-white);
    }

    .now-post {
        background: rgb(19, 189, 33);
    }


/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
    .group-buttons {
        margin: 30px 0 50px;
    }

    .group-buttons .links-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        align-items: center;        
    }

    .group-buttons .links-buttons-ct {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;        
    }

    .group-buttons .links-buttons button {
        background-color: var(--color-bg-secundary);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

        height: 100px;

        border: 0;
        border-radius: 0;

        display: block;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .group-buttons .links-buttons-ct button {
        background-color: var(--color-bg-secundary);
        box-shadow: 2px 2px 2px rgba(0,0,0,0.1);

        height: 200px;

        border: 0;
        border-radius: 0;

        display: block;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    .group-buttons .links-buttons button:hover,
    .group-buttons .links-buttons-ct button:hover {
        border: 2px solid var(--color-bg-button);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.1);
        background-color: var(--color-bg-button); 

        position: relative;
        animation: zoom 100ms ease-in-out;
            -webkit-animation-fill-mode: forwards; 
    }

    .group-buttons .links-buttons button i,
    .group-buttons .links-buttons-ct button i {
        font-size: 2rem;
        color: var(--color-footer);
    }

    .group-buttons .links-buttons button:hover i,
    .group-buttons .links-buttons-ct button:hover i  {
        color: var(--color-bg-primary);
    }

    .group-buttons .links-buttons button h2 {
        max-width: 120px;
        margin: 0 auto;

        font-size: 1.4rem;
        text-transform: uppercase;

        margin-top: 10px;

        color: var(--color-footer);
    }

    .group-buttons .links-buttons-ct button h2 {
        max-width: 250px;
        margin: 0 auto;

        font-size: 1.4rem;
        text-transform: uppercase;

        margin-top: 10px;

        color: var(--color-footer);
    }

    .group-buttons .links-buttons button:hover h2,
    .group-buttons .links-buttons-ct button:hover h2 {
        color: var(--color-bg-primary);
    }


/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
    .icones-orgaos {
        margin: 60px 0;
    }
    
    .icones-orgaos a {
        margin-left: 10px;
        opacity: 0.7;
    }

    .icones-orgaos a:hover {
        opacity: 1;
    }  


/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
/*----------- TEXTO "RESULTADO EM NOSSO SISTEMA POR"*/
    .resulPesquisa{
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .resulPesquisa span{
        font-size: 1.6rem;
        font-weight: bold;
    }

    .table .card {
        border: none;
    }

/*
---------------------------------------------------------------------
PAGINAÇÃO
---------------------------------------------------------------------
*/ 
    .page-item {
        background-color: var(--color-bg-secundary);
    }

    .page-item a{
        background-color: var(--color-bg-secundary);
        color: var(--color-link-hover);

        border-radius: 0;
        border: 0;
    }

    .page-item a:hover{
        background-color: var(--color-bg-primary);
        color: var(--color-footer);

        transition: 400ms;
    }

    .page-item{
        border-radius: 0;
        border: 0;
    }


/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/  

    .button-esconde-lista {
        margin: 20px 0 60px;
    }

    .button-esconde-lista .card {
        margin: 0;
    }

    .button-esconde-lista .card .card-header {
        padding: 0;
        margin: 0;
    }

    .button-esconde-lista .card .card-header button{
        color: var(--color-text-primary);
        background: var(--color-bg-secundary) !important;
        text-transform: uppercase;

        font-family: var(--font-secondaray-bold);

        font-size: 1.2rem;
        text-decoration:none;

        border: none;

        width: 100%;
        text-align: left;

        padding: 20px 10px;
        outline: none;

        transition: background 400ms;
    }

    .button-esconde-lista .card .card-header button:hover {
        opacity: 0.8;
    }

    .emitir {
        margin-top: 10px;
    }

/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
    .sigrh{
        font-size: 1rem;
    }


/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
    .data-evento{        
        margin-top: 30px;
        margin-bottom: 30px; 
        
        position: relative;
    }

    .data-evento span{ 
        font-family: var(--font-secondaray-bold);
        text-transform: uppercase;
    }

    .data-evento p{
        line-height: 1;
    }

    .data-evento a{
        padding: 10px 20px;

        background-color: var(--color-bg-button);
        color: var(--color-text-white);
        font-size: 1.2rem;

        position: absolute;
        right: 0;

        text-transform: uppercase;
    }

    .data-evento a:hover{
        background-color: var(--color-secundary-button);
        transition: 400ms;
    }

/*
---------------------------------------------------------------------

---------------------------------------------------------------------
*/
    .assinaturaComite{
        margin-top: 70px;
        margin-bottom: 100px;
        line-height: 1;
    }

    .secbh{
        font-family: var(--font-secondaray-bold); 
        text-transform: uppercase;
        font-size: 2rem;
    }



/*
---------------------------------------------------------------------
ITEM
---------------------------------------------------------------------
*/ 
    .item{
        list-style:none;

        list-style-image:url(../../src/assets/images/icon/item.png);
        padding-left: 20px;		
    }
        
    .item li{
        margin-bottom: 15px;
    }        


/*
---------------------------------------------------------------------
FOOTER
---------------------------------------------------------------------
*/   
    footer {
        width: 100%;
        background-color:var(--color-footer);
        
        height: 400px;
    }

    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 400px;
    }

    footer .adress-locate {
        color: #EFF1F2;
        width: 300px;        
    }

    footer .container .adress-locate .item-adress {
        display: flex;
        align-items: center;

        margin-bottom: 30px;
    }

    footer .container .adress-locate .item-adress i {
        font-size: 1.5rem;
        margin-right: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        padding: 5px;

        background-color: var(--color-bg-secundary);

        border-radius: 50px;

        color: var(--color-footer);
    }

    footer .container .adress-locate .item-adress .label p {
        font-size: 1.2rem;
        line-height: 5px;

        font-weight: 200;
    }

    footer .container .adress-locate .item-adress .label h2 {
        font-size: 1.5rem;
    }

    footer .container .adress-locate .item-adress .label a {
        color: var(--color-text-white);
        font-weight: 400;
    }


    footer .about {
        width: 400px;
    }

    footer .about .title-about {
        color: var(--color-text-white);
        font-weight: 600;

        font-size: 2rem;
    }

    footer .about .title-about::after{
        content: "";
        margin: 5px 0 20px;
        height: 0;
        display: block;
        position: relative;
        width: 40px;
        border-bottom: 4px solid var(--color-text-white);
    }

    footer .about p {
        color: var(--color-text-white);
        font-size: 1.3rem;
    }

    footer .about .social {
        margin-top: 30px;
    }

    footer .about .social a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;

        padding: 10px;

        background-color: var(--color-bg-secundary);
    }

    footer .about .social i {
        color: var(--color-footer);
        font-size: 2rem;
    }

    footer .about .social a:hover {
        background-color: var(--color-bg-border);
    }

    


/*
---------------------------------------------------------------------
COPYRIGHT 
---------------------------------------------------------------------
*/    
    .copyright{
        text-align: center;
        background-color: var(--color-bg-primary);
        color: var(--color-link-hover);
        text-transform: uppercase;
        padding: 30px;
    }

    .copyright label{        
        font-size: 1rem;        
    }

    /* ----------- dev */
    .copyright .dev a {
        font-size: 0.7rem;  
        font-weight: 900;        
        color: var(--color-link-hover);  
    }


/*
---------------------------------------------------------------------
SETA - SUBIR TOPO
---------------------------------------------------------------------
*/   

    #subirTopo {
        background: var(--color-secundary-button);
        bottom: 30px;
        right: 30px;
        color: var(--color-text-white);
        cursor: pointer;
        position: fixed;
        border: 0;

        border-radius: 50%;
        height: 50px;
        width: 50px;

        z-index: 9999;

        display: flex;
        justify-content: center;
        align-items: center;
    }
            
    #subirTopo:hover {
        opacity:0.7;
        transition: 400ms;
    }




@keyframes zoom {
    from {
        top: 0;
    }

    to {
        top: -5px;
    }
}